
.album-card {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  padding-right: 10px;

}

.album-card img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}

@media (min-width: 669px) {
  .album-card {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .album-card {
    flex-grow: 0;
    width: 25%;
  } 
}
