main {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

a {
  color: unset;
  text-decoration: none;
  display: inline;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
  margin: 12px 0 6px;
}

h3 {
  font-size: 14px;
  margin: 0 0;
  font-weight: normal;
  color: #a0a0a0;
  display: inline;
}

hr {
  border: 0.5px solid #5a5a5a;  
}

