body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  background: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 18px;
}

h2, h3 {
  font-size: 14px;
  margin: 3px 0;
}

h3 {
  font-weight: normal;
  color: #a0a0a0;
  display: flex;
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
}

.album-card {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 200px;
  height: 300px;
}

.album-card img {
  width: 200px;
  height: 200px;
}